@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
  /* text-align: center; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}